h1 Tweets with&nbsp;
  each word in keywords
    q= word
    |&nbsp;

- var tps = total_tweets.value.count / (total_tweets.value.end.getTime() - total_tweets.value.start.getTime()) * 1000.0;
p #{total_tweets.value.count} tweets from #{total_users} users, between #{total_tweets.value.start} and #{total_tweets.value.end}. That's an average of 
  - if (tps > 1.0) {
  | #{tps.toFixed(3)}
  | tweets per second.
  - } else if (tps * 60.0 > 1.0) {
  | #{(tps*60.0).toFixed(3)}
  | tweets per minute.
  - } else {
  | #{(tps*3600.0).toFixed(3)}
  | tweets per hour.
  - }

h2 Top Tweeters
ol
  each tweeter in top_tweeters
    li
      a(href='http://twitter.com/#{tweeter.value.screen_name}', rel='nofollow')= '@' + tweeter.value.screen_name
      | &nbsp;(#{tweeter.value.count})

h2 Most Popular Users
ol
  each tweeter in top_mentions
    li
      a(href='http://twitter.com/' + tweeter.value.screen_name, rel='nofollow')= '@' + tweeter.value.screen_name
      | &nbsp;(#{tweeter.value.count})

h2 Top Hashtags
ol
  each hashtag in top_hashtags
    li
      a(href='http://twitter.com/search?q=' + hashtag.value.hashtag, rel='nofollow')= hashtag.value.hashtag
      | &nbsp;(#{hashtag.value.count})

h2 Top Links
ol
  each link in top_urls
    li
      a(href=link.value.url, rel='nofollow')= link.value.display
      | &nbsp;(#{link.value.count})

